<div class="app-container">
  <form [formGroup]="searchForm" class="search-container">
    <input class="input-group input-group-lg" formControlName="searchTerm" placeholder="Search characters by name" />
  </form>

  <div class="container-table" *ngIf="characters$ | async as charactersData; else noHeroes">
    <ng-container *ngIf="heroesFound; else noHeroes">
      <table class="table-container">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Thumbnail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of charactersData.characters" >
            <td>{{ character.id }}</td>
            <td>{{ character.name }}</td>
            <td>{{ character.description }}</td>
            <td>
              <img class="thumbnail" (click)="showCharacterDetail(character)" [src]="character.thumbnail" alt="{{ character.name }}" width="100" />
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button type="button" class="btn btn-light" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button type="button" class="btn btn-light"  (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        <div class="pagination-info">
          <span>{{ (currentPage - 1) * itemsPerPage + 1 }} - {{ min(currentPage * itemsPerPage, charactersData.total) }} of {{ charactersData.total }} characters</span>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #noHeroes>
    <div class="no-hero-found">No hero found</div>
  </ng-template>
</div>
